.LoginPage {
  width: 100%;
  height: 100%;
}

.user-container {
  padding: 0px 15px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
}

.user-container ul li {
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 0.3em;
  border-radius: 25px;
  text-align: left;
  letter-spacing: -1px;
}

.user-container > img {
  margin-bottom: 2em;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: '뽀로로';
  font-size: 30px;
  text-align: center;
  color: #7e693a;
}

/* 물결표시 범위 */
button {
  cursor: default !important;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0px;
  font-size: 20px;
  cursor: pointer;
  padding: 0.8em 1em;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(black, 0.2);
  background-color: rgba(255, 255, 255, 0);
  transform: translate3d(0, 0, 0);
  z-index: -100;
}

.wave {
  opacity: 0.4;
  position: absolute;
  bottom: 3%;
  left: 50%;
  background: #0af;
  width: 3000px;
  height: 3000px;
  margin-left: -1450px;
  margin-bottom: -2850px;
  animation: rotate 10000ms infinite linear;
  transform-origin: 48% 48%;
  border-radius: 38%;
  transition-duration: 0.75s;
  transition-property: margin-bottom;
  transition-timing-function: ease;
}

.login-label > img {
  width: 20px;
}

.login-item {
  --background: rgba(255, 255, 255, 0) !important;
}

.login-label {
  --background: rgba(255, 255, 255, 0) !important;
}

.login-input {
  letter-spacing: 0.9px;
  --padding-bottom: 0px;
  margin-left: -95px;
}

.login_footer {
  margin-right: 1em;
  float: right;
  font-size: 14px;
  font-family: '뽀로로';
  color: #7e693a;
}

.login_footer > span {
  margin-left: 20px;
}

/* JoinPage */
.passport ion-icon {
  width: 30px;
  height: 30px;
}

.passport-container input {
  border: 0px;
  border-radius: 0px;
  border-bottom: 1.5px solid rgb(172, 172, 172);
  height: 50px;
  font-size: 1.6em;
  padding: 0px;
  text-indent: 0px;
  letter-spacing: -1px;
}

.join-ion-item-custom {
  margin-top: 30px;
}

.fade-enter-active {
  transition: all 0.5s ease;
}
.fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 1, 1.8, 3);
}
.fade-enter,
.fade-leave-to {
  transform: translateX(3vw);
  opacity: 0;
}

.post_cost_selector {
  background-color: rgb(86, 187, 71);
  color: white !important;
  border-radius: 20px;
  font-weight: 700;
  width: 45px;
  padding: 5px 0px;
  text-align: center;
  position: absolute;
  top: 24px;
  right: 20px;
  z-index: 100000;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@media (min-width: 500px) {
  .user-container {
    width: 500px;
    margin: 0 auto;
  }
}